@model ConnectionLibrary.Model.Result

@if (Model.Report11List != null && Model.Report11List.Count > 0)
{
    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; margin-bottom: 1rem; color: #000000; background-color: transparent; margin-bottom: 0; text-align: center;">
        
            <tr style="background-color: #28a745 !important; color: #fff;">
                <td style="vertical-align: middle; padding: .75rem; vertical-align: top; border: 1px solid #000; border-right:none; border-bottom:none; vertical-align: middle;">નગર</td>
                <td style="vertical-align: middle; padding: .75rem; vertical-align: top; border: 1px solid #000; border-right:none; border-bottom:none; vertical-align: middle;">સંયુક્ત વિધાર્થી</td>
                <td style="vertical-align: middle; padding: .75rem; vertical-align: top; border: 1px solid #000; border-right:none; border-bottom:none; vertical-align: middle;">તરુણ વિધાર્થી</td>
                <td style="vertical-align: middle; padding: .75rem; vertical-align: top; border: 1px solid #000; border-right:none; border-bottom:none; vertical-align: middle;">પ્રૌઢ વ્યવસાયી</td>
                <td style="vertical-align: middle; padding: .75rem; vertical-align: top; border: 1px solid #000; border-right:none; border-bottom:none; vertical-align: middle;">તરુણ વ્યવસાયી</td>
                <td style="vertical-align: middle; padding: .75rem; vertical-align: top; border: 1px solid #000; border-bottom:none; vertical-align: middle;">કુલ શાખા </td>
            </tr>
        
        
            @foreach (ConnectionLibrary.Model.Reports.Report11 item in Model.Report11List)
            {
                <tr>
                    <td style="padding: .75rem; vertical-align: top; border: 1px solid #000; border-right:none; border-top:none">@item.Nagar</td>
                    <td style="padding: .75rem; vertical-align: top; border: 1px solid #000; border-right:none; border-top:none">@item.SayuktShakha</td>
                    <td style="padding: .75rem; vertical-align: top; border: 1px solid #000; border-right:none; border-top:none">@item.TarunVidhyarthi</td>
                    <td style="padding: .75rem; vertical-align: top; border: 1px solid #000; border-right:none; border-top:none">@item.ProudhVyavsayi</td>
                    <td style="padding: .75rem; vertical-align: top; border: 1px solid #000; border-right:none; border-top:none">@item.TarunVyavsayi</td>
                    <td style="padding: .75rem; vertical-align: top; border: 1px solid #000; border-top:none">@item.TotalShakha</td>
                </tr>
            }
        
    </table>
}





