@model ConnectionLibrary.Model.Result

@if (Model.Report12List != null && Model.Report12List.Count > 0)
{
    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; margin-bottom: 1rem; color: #000000; background-color: transparent; margin-bottom: 0; text-align: center;">
        
            <tr style="background-color: #28a745 !important; color: #fff;">
                <td style="vertical-align: middle; padding: .75rem; vertical-align: top; border: 1px solid #000; border-right:none; border-bottom:none; vertical-align: middle;">નગર</td>
                <td style="vertical-align: middle; padding: .75rem; vertical-align: top; border: 1px solid #000; border-right:none; border-bottom:none; vertical-align: middle;">કુલ વસ્તી</td>
                <td style="vertical-align: middle; padding: .75rem; vertical-align: top; border: 1px solid #000; border-right:none; border-bottom:none; vertical-align: middle;">કાર્યયુક્ત વસ્તી</td>
                <td style="vertical-align: middle; padding: .75rem; vertical-align: top; border: 1px solid #000; border-right:none; border-bottom:none; vertical-align: middle;">સંપર્કિત વસ્તી</td>
                <td style="vertical-align: middle; padding: .75rem; vertical-align: top; border: 1px solid #000; border-bottom:none; vertical-align: middle;">કાર્યવિહીન વસ્તી</td>
            </tr>
        
        
            @foreach (ConnectionLibrary.Model.Reports.Report12 item in Model.Report12List)
            {
                <tr>
                    <td style="padding: .75rem; vertical-align: top; border: 1px solid #000; border-right:none; border-top:none">@item.Nagar</td>
                    <td style="padding: .75rem; vertical-align: top; border: 1px solid #000; border-right:none; border-top:none">@item.TotalVasti</td>
                    <td style="padding: .75rem; vertical-align: top; border: 1px solid #000; border-right:none; border-top:none">@item.KaryYuktVasti</td>
                    <td style="padding: .75rem; vertical-align: top; border: 1px solid #000; border-right:none; border-top:none">@item.SamparkitVasti</td>
                    <td style="padding: .75rem; vertical-align: top; border: 1px solid #000; border-top:none">@item.KaryVihinVastiInString</td>
                </tr>
            }


        
    </table>
}





