@model ConnectionLibrary.Model.Result


<div class="card card-info mb-0">
    <input type="hidden" id="hdntotal" name="Total" value="@Model.Total" />

    @if (Model.ListYadis != null)
    {
        <div class="card-header">
            <h3 class="card-title">પ્રવાસી ની યાદી (Total : @Model.ListYadis.Count)</h3>
            @*<div class="card-tools">
                    <button onClick="window.location.href=window.location.href"><i class="fas fa-refresh"></i></button>
                </div>*@
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body px-2" style="height:400px; overflow-y:scroll">
            @*<div class="col-md-12 text-right">
                    <a href="@Url.Action("Createyadi","Master")">Add New Yadi</a>
                </div>*@
            <table id="example1" class="table table-bordered table-striped dataTable dtr-inline">
                <thead class="m-head">
                    <tr>

                        <th>ક્રમ</th>
                        <th>નામ</th>
                        <th>મોબાઈલ નંબર</th>
                        <th>ઈ-મેલ</th>
                        <th>Nagar</th>
                        <th>Star</th>
                        <th>Dayitva</th>
                        <th>Pravasi</th>
                        <th style="width:100px">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListYadis)
                    {
                        <tr>
                            <td>@item.YadiID</td>
                            <td>@item.Name</td>
                            <td>@item.Mobile</td>
                            <td>@item.Mail</td>
                            <td>@item.Nagar</td>
                            <td>@item.Star</td>
                            <td>@item.Dayitva</td>
                            <td>@item.PravasiID</td>
                            <td class="text-center">

                                @if (item.PravasiID > 0)
                                {
                                    <a OnClick="javascript: Update( @item.YadiID , '@item.Name', '@item.Mobile', '@item.Mail', '@item.Nagar', '@item.StarID', '@item.DayitvaID', '@item.PravasiID', '@item.Year' ,'@item.RefID' );" title="Edit" class="btn btn-info btn-sm" id="strapddledit" data-toggle="modal" data-target="#myModal2"><i class="fa fa-edit"></i></a>
                                }

                                @if (item.PravasiID == 0)
                                {
                                    <a OnClick="javascript: AddData( @item.YadiID , '@item.Name', '@item.Mobile', '@item.Mail', '@item.Nagar', '@item.StarID', '@item.DayitvaID', '@item.PravasiID', '@item.Year' ,'@item.RefID' );" title="Add" class="btn btn-info btn-sm" id="myBtn3" data-toggle="modal" data-target="#myModal1"><i class="fa fa-user-plus"></i></a>
                                }


                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>


    }
    else
    {
        <div class="card-header">
            <h3 class="card-title">પ્રવાસી યાદી (Total : 0 )</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.card-header -->


        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped dataTable dtr-inline">
                    <thead class="m-head">
                        <tr>
                            <th>ક્રમ</th>
                            <th>નામ</th>
                            <th>મોબાઈલ નંબર</th>
                            <th>ઈ-મેલ</th>
                            <th>Nagar</th>
                            <th>Star</th>
                            <th>Dayitva</th>
                            <th>Pravasi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="8">
                                <h4>No Record Found !!</h4>
                            </td>

                        </tr>

                    </tbody>

                </table>
            </div>
        </div>
    }
</div>

