@model ConnectionLibrary.Model.Result

<div class="card card-info">
    <input type="hidden" id="hdntotal" name="Total" value="@Model.Total" />
    @if (Model != null && Model.ViewMilan.Count > 0)
    {
        <div class="card-header">
            <h3 class="card-title">મિલન (Total : @Model.Total)</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 text-right">
                    <a class="btn btn-primary mb-1" data-toggle="modal" data-target="#myModal" onclick="javascript:Clear();">Add New</a>
                </div>

            </div>
            <table class="table table-bordered">
                <thead class="m-head">
                    <tr>
                        <th>મિલન </th>
                        <th>વસ્તી</th>
                        <th>નગર </th>
                        <th>ભાગ </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ViewMilan != null && Model.ViewMilan.Count > 0)
                    {
                        foreach (var item in Model.ViewMilan)
                        {
                        <tr>
                            <td>@item.MilanName</td>
                            <td>@item.Vasti</td>
                            <td>@item.Nagar</td>

                            <td>@item.Bhag</td>
                            <td>
                                <a OnClick="javascript: Update(@item.MilanID,'@item.MilanName',@item.VastiID,'@item.Nagar','@item.Bhag',@item.STID,@item.MTID);" title="Edit" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal"><i class="fa fa-edit"></i></a>
                                <a title="Delete" href="javascript:Delete(@item.MilanID);" OnClick="javascript:return confirm('Are you sure you want to delete this Record ?')" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                        }
                    }
                </tbody>

            </table>
        </div>
                    if (Model.pager.EndPage > 1)
                    {
        <div class="pagination">
            @if (Model.pager.CurrentPage > 1)
            {
                <a onclick="GetRecords(1)">First</a>
                <a  onclick="GetRecords(@(Model.pager.CurrentPage - 1))">Previous</a>
            }

            @for (var page = Model.pager.StartPage; page <= Model.pager.EndPage; page++)
            {
                <a  class="@(page == Model.pager.CurrentPage ? "active" : "")" onclick="GetRecords(@page)">@page</a>
            }

            @if (Model.pager.CurrentPage < Model.pager.TotalPages)
            {
                <a  onclick="GetRecords(@(Model.pager.CurrentPage + 1))">Next</a>
                <a  onclick="GetRecords(@(Model.pager.TotalPages))">Last</a>
            }
        </div>
   
                    }

    }
    else
    {
        <div class="card-header">
            <h3 class="card-title">મિલન (Total : 0 )</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 text-right">
                    <a class="btn btn-primary mb-1" data-toggle="modal" data-target="#myModal" onclick="javascript:Clear();">Add New</a>
                </div>

            </div>
            <table class="table table-bordered">
                <thead class="m-head">
                    <tr>
                        <th>મિલન</th>
                        <th>વસ્તી</th>
                        <th>નગર </th>
                        <th>ભાગ </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td colspan="5">
                            <h4>No Record Found !!</h4>
                        </td>

                    </tr>

                </tbody>

            </table>
        </div>
      
    }
</div>
