
@model ConnectionLibrary.Model.Result



<div class="card card-info">
    <input type="hidden" id="hdntotal" name="Total" value="@Model.Total" />

    <div class="card-header">
        <h3 class="card-title">ChildDoc (Total : @Model.Total)</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
     /.card-header 
    <div class="card-body">

            <table class="table table-bordered">
                <thead class="m-head">
                    <tr>



                        <th>docname</th>
                        <th>Image</th>
                        <th>doctype </th>


                    </tr>
                </thead>
                <tbody>
                    @if (Model.ListChild != null)
                    {
                        foreach (var item in Model.ListChild)
                        {
                            <tr>


                                <td>@item.docname</td>
                                <td>@item.doctype </td>
                                <td><img src="~/Images/@item.docname" width="100px" height="100px" /></td>

                            </tr>

                        }
                    }
                </tbody>
            </table>
        </div>

        <div class="pagination">

            @*<a onclick="GetRecords(1)">First</a>
                <a onclick="GetRecords(@(Model.pager.CurrentPage - 1))">Previous</a>*@



        </div>








    </div>


