@model ConnectionLibrary.Model.Result
@{
    ViewBag.Title = "javabdari";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">જવાબદારીના સ્તર અનુસાર યાદી</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Dashboard","Master")">Home</a></li>
                        <li class="breadcrumb-item active">જવાબદારી</li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <section class="content">
        <form id="frmrss">
            <div class="container-fluid">
                <!-- SELECT2 EXAMPLE -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Search</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-1 text-right col-form-label">પ્રાંત : <span style="color: red;">*</span></label>
                                    <div class="col-sm-10">
                                        @Html.DropDownListFor(x => Model.PrantID, new SelectList(Model.ListPrant, "PrantID", "PrantName"), htmlAttributes: new { @class = "form-control", id = "drpPrant" })
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-1 text-right col-form-label">વિભાગ : <span style="color: red;">*</span></label>
                                    <div class="col-sm-10">
                                        <div id="Droplistprant">
                                            @*  @Html.DropDownListFor(x => Model.BhagID, new SelectList(""), htmlAttributes: new { @class = "form-control", id = "drpBhag" })*@
                                            @Html.Partial("~/Views/Shared/Partial/_DDLVibhagPrant.cshtml", Model)
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-1 text-right col-form-label">ભાગ: <span style="color: red;">*</span></label>
                                    <div class="col-sm-10">
                                        <div id="Droplistbhag">
                                            @*  @Html.DropDownListFor(x => Model.BhagID, new SelectList(""), htmlAttributes: new { @class = "form-control", id = "drpBhag" })*@
                                            @Html.Partial("~/Views/Shared/Partial/_DDLVibhag.cshtml", Model)
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="custom-control custom-checkbox mt-1">
                                            <input class="custom-control-input" type="checkbox" id="customCheckbox3" value="option1" onclick="(this.id)">
                                            <label for="customCheckbox3" class="custom-control-label"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-1 text-right col-form-label">નગર: </label>
                                    <div class="col-sm-10">
                                        <div id="Droplistnagar">
                                            @Html.Partial("~/Views/Shared/Partial/_DDLVibhagnagar.cshtml", Model)
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="custom-control custom-checkbox mt-1">
                                            <input class="custom-control-input" type="checkbox" id="customCheckbox4" value="option1" onclick="selectOnlyThis(this.id)">
                                            <label for="customCheckbox4" class="custom-control-label"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <input type="button" id="btnSearch" class="btn btn-info" value="Search">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-info">

                    <div id="Datalist">
                        @Html.Partial("~/Views/Shared/Partial/_ViewJavabdari.cshtml", Model)
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.container-fluid -->
        </form>
    </section>
</div>
<!-- /.content-wrapper -->
@section scripts
{

    <script>
        function selectOnlyThis(id) {
            for (var i = 1; i <= 4; i++) {
                if ("customCheckbox" + i === id && document.getElementById("customCheckbox" + i).checked === true) {
                    document.getElementById("customCheckbox" + i).checked = true;
                } else {
                    document.getElementById("customCheckbox" + i).checked = false;
                }
            }
        }
    </script>

    <script>

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("a").filter(".nav-link active").removeClass("nav-link active");
            $("#javabdari").addClass("nav-link active");
            $("#Master").addClass("nav-link active");
            $("li").filter(".nav-item menu-open").removeClass("nav-item menu-open");
            $("#Masterli").addClass("nav-item menu-open");
            $('#drpPrant').change(function () {
                //alert($('#drpBhag option:selected').val());
                if ($('#drpPrant option:selected').val() != "0") {
                    $.ajax({
                        type: "GET",
                        url: "/Master/NagarByPrantID",
                        data: { PrantID: $('#drpPrant option:selected').val() },
                        timeout: 600000,
                        success: function (data) {

                            if (data == "-1") {
                                window.location.href = "/account/logoff";
                            }
                            else if (data == "0") {

                                toastr.error("Record Not Found!! ");

                            }
                            else {
                                $("#Droplistprant").html(data);

                            }

                        },
                    });
                }
            });

            $("#customCheckbox4").click(function () {
                var TValidate = true;

                if (TValidate) {
                   $(this).is(":checked")
                }
                if (TValidate) {
                    $.ajax({
                        type: "POST",
                        url: "/Master/SearchViNagar",
                        data: { NagarIDCHeck: $("#drpNagar").val() },
                        timeout: 600000,
                        beforeSend: function () {
                            $('#milan').css("display", 'block');
                        },
                        success: function (data) {
                            if (data == "-1") {
                                window.location.href = "/account/logoff";
                            }
                            else if (data == "0") {

                                toastr.error("Record Not Found!! ");

                            }
                            else {
                                $("#Datalist").html(data);

                            }
                        },
                        complete: function () {
                            $('#milan').css("display", 'none');
                        },
                    })
                }
            });

            $("#customCheckbox3").click(function () {
                var TValidate = true;

                if (TValidate) {
                    $(this).is(":checked")
                }
                if (TValidate) {
                    $.ajax({
                        type: "POST",
                        url: "/Master/SearchViNagar",
                        data: { BhagIDCHeck: $("#drpBhag").val() },
                        timeout: 600000,
                        beforeSend: function () {
                            $('#milan').css("display", 'block');
                        },
                        success: function (data) {
                            if (data == "-1") {
                                window.location.href = "/account/logoff";
                            }
                            else if (data == "0") {

                                toastr.error("Record Not Found!! ");

                            }
                            else {
                                $("#Datalist").html(data);

                            }
                        },
                        complete: function () {
                            $('#milan').css("display", 'none');
                        },
                    })
                }
            });


            $("#btnSearch").click(function () {
                // alert($('#drpNagar option:selected').val());
                var TValidate = true;

                if (TValidate) {
                    $.ajax({
                        type: "POST",
                        url: "/Master/SearchViNagar",
                        data: $("#frmrss").serialize(),
                        timeout: 600000,
                        beforeSend: function () {
                            $('#milan').css("display", 'block');
                        },
                        success: function (data) {
                            if (data == "-1") {
                                window.location.href = "/account/logoff";
                            }


                            else if (data == "0") {

                                toastr.error("Record Not Found!! ");

                            }
                            else {
                                $("#Datalist").html(data);

                            }
                        },
                        complete: function () {
                            $('#milan').css("display", 'none');
                        },
                    });
                }

                return TValidate;
            });
        });


    </script>
}